<p align="center">
	{{#if devoured}}
	
	{{id}}.
	{{burger_name}}

	{{else}}

	{{id}}.
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="true">
		DEVOUR
	</button>

	{{/if}}

</p>
